.header .top, .footer .bottom {
    background-color: #333333;
    height: 10px;
}

.header .middle {
    height: 6em;
}

.header .middle .social {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    height: 3.2em;
    padding-top: .5em;
    margin-left: 1em;
    margin-top: 1.5em;
}

.social a {
    background-image: url("../images/web_social.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.social .facebook {
    width: 2em;
    height: 2em;
}

.social .instagram {
    background-position: -2em;
    width: 2.1em;
    height: 2em;
}

.social .whatsapp {
    background-position: -4.3em;
    width: 2.2em;
    height: 2em;
}

.social .phone {
    background-position: -6.6em;
    width: 2em;
    height: 2em;
}

.header .middle .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 7.2em;
    height: 5.4em;
}

.header .middle .title {
    background-image: url("../images/title.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15em;
    height: 5.2em;
    top: 3.5em;
}

.header .bottom {
    position: relative;
    height: 3.5em;
}

.header .bottom .center-pos {
    top: 1.8em;
    width: 50em;
}

.header .bottom .center-pos a {
    background-repeat: no-repeat;
    background-size: cover;
}

.header .bottom .fst {
    background-image: url("../images/banner_fst.png");
    width: 9em;
    height: 2.8em;
}

.header .bottom .snd {
    background-image: url("../images/banner_snd.png");
    width: 11em;
    height: 3em;
}

.header .bottom .thd {
    background-image: url("../images/banner_thd.png");
    width: 10em;
    height: 3em;
}

.header .bottom .fth {
    background-image: url("../images/banner_fth.png");
    width: 10em;
    height: 3em;
}

.content {
    margin: 2em 2em 0 2em;
}

.dot-line {
    border-top: dotted 1px black;
    width: 70%;
    margin: auto;
}

.footer {
    position: relative;
}
.link {
    position: relative;;
}

.link .center-pos {
    width: 42em;
    top: 2em;
}
.link a {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 1em;
}

.link div.float-left {
    border-left: solid 2px black;
    height: 1em;
    margin-top: .3em;
}

.link-fst {
    background-image: url("../images/footer_1.png");
    width: 6em;
    height: 1.6em;
}
.link-snd {
    background-image: url("../images/footer_2.png");
    width: 9em;
    height: 1.6em;
}
.link-thd {
    background-image: url("../images/footer_3.png");
    width: 7em;
    height: 1.6em;
}
.link-fth {
    background-image: url("../images/footer_4.png");
    width: 10em;
    height: 1.6em;
}

.footer .copyright {
    text-align: center;
    font-size: 1.6em;
    margin-top: 2.3em;
}

.footer .bottom-text {
    background-image: url("../images/footer_bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 27em;
    height: 1.7em;
    margin: .5em auto;
}

.footer .bottom {
    margin-top: 1em;
}

.footer .bottom-icon {
    background-image: url("../images/footer_house.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 9em;
    height: 3.5em;
    position: absolute;;
    right: 1em;
    bottom: 1em;
}